:root {
  --primary: #d9392d;
  --primaryHover: #9d251c;
  --footer: #c83024;
  --secundary: #292929;
  --fondo: #efefef;
  --fondo1: #d9d9d9;
  --facebook: #1877f2;
  --linkedin: #0a66c2;
  --youtube: #ff0000;
  --medios: #1589bf;
  --marketing: #1faf38;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* p {
  margin: 0;
} */
